<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.togetherwecan">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.INTERNAL_SYSTEM_WINDOW"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BookActivity"></activity>
        <activity android:name=".ViewTopicsActivity" />
        <activity android:name=".ViewBooksActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewSubtopicsActivity" />
        <activity android:name=".TopicActivity"></activity>
        <activity android:name=".FeedBackActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".EditNote" />
        <activity
            android:name=".NoteActivity"
            android:parentActivityName=".SubTopicActivity" />
        <activity android:name=".SubTopicActivity" />
    </application>

</manifest>